body {
    align-items: center;
    background: #90a4ae;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.App {
    width: 640px;
}

.insetWrapper {
    background-color: #cfd8dc;
    border-radius: 8px;
    box-shadow: 2px 2px 5px inset #607d8b;
    display: flex;
    flex-direction: column;
    padding: 16px;
}