.search h1 {
    margin-top: 0;
}

.search .typeahead {
    position: relative;
}

.search .typeahead input {
    border-color: #cfd8dc;
    border-radius: 4px;
    border-width: 1px;
    box-sizing: border-box;
    font-size: 20px;
    padding: 8px;
    width: 100%;
}

.search .typeahead .suggestions {
    background-color: white;
    border: 1px solid #607d8b;
    border-radius: 5px;
    left: 0;
    list-style: none;
    padding: 0;
    position: absolute;
    top: 24px;
}

.search .typeahead .suggestions li {
    padding: 8px;
}

.search .selected {
    padding-top: 8px;
    text-align: right;
}

.search .selected em {
    font-weight: bold;
}
