.weatherCard {
    border-radius: 5px;
    font-family: sans-serif;
    justify-content: space-between;
    padding: 5px;
}

.weatherCard .temp {
    align-items: center;
    display: flex;
    font-size: 56px;
    font-weight: bold;
}

.weatherCard .icon {
    width: 100px;
    height: 100px;
}

.weatherCard .highAndLow {
    justify-content: left;
    padding-left: 5px;
}

.weatherCard .highAndLow .spacer {
    padding-left: 5px;
    padding-right: 5px;
}

.weatherCard .main {
    font-size: 32px;
    padding-bottom: 5px;
}
